* {
  box-sizing: border-box;
}

#png-calculator {
  width: 100%;
  max-width: unset;

  .container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  h1 {
    text-align: center;
  }
}

.pngcalc {



  .pngcalc_title {
    width: 100%;
    margin-block-start: 0;
    margin: 0 0 24px;
    font-size: 20px;
    line-height: 24px;
  }

  .pngcalc__step {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 24px;
    border-radius: 20px;
    overflow: hidden;
    max-height: 3000px;
    transition: all .3s;

    &.hidden {
      max-height: 0;
      padding: 0 24px;
    }

    &.user-step {
      align-items: center;
      justify-content: center;

      .pngcalc__step {
        input, textarea {
          max-width: 200px;
          height: auto !important;
        }

      }
    }
  }

  .pngcalc__block {
    width: 100%;
    max-width: calc(50% - 12px);
    padding: 18px 0;
    border: none;

    @media screen and (max-width: 920px){
      max-width: 100%;
      padding: 24px 0 18px 0;
      border-bottom: 1px solid color(srgb 0.6627 0.6628 0.6628);
      border-radius: 0;
    }


    &__title {
      font-size: 16px;
      line-height: 18px;
      margin-block-start: 0;
      margin: 0 0 20px;
      font-weight: 600;
    }

    &__group {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;

      .select {
        width: 100%;
        max-width: calc(50% - 4px);
        @media screen and (max-width: 920px) {
          max-width: 100%;
          margin-bottom: 12px;
        }

        & > span.hidden {
          display: none;
        }

        select {
          width: 100%;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

  .pngcalc_label {
    //display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    & > span {
      display: inline-block;
      font-weight: 100;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 8px;
      margin-left: 8px;
      min-width: max-content;
      @media screen and (max-width: 980px){
        margin-bottom: 0;
      }
    }

    input,
    textarea {
      display: block;
      width: 100%;
      max-width: 150px;
      margin-bottom: 10px;
      border-radius: 50px;
      padding: 5px 15px;
      background: #fff;
      border: 1px solid #e1e1e1;
      color: #000;
      font-size: 14px;
      line-height: 16px;
      background: none;
      box-sizing: border-box;
      font-family: inherit;
      @media screen and (max-width: 980px){
        max-width: 90px;
        margin-bottom: 0;
      }

      &:read-only {
        display: inline;
        width: auto;
        border: none;
        font-size: 14px;
        line-height: 16px;
        resize: none;
        counter-increment: none;
        -webkit-appearance: none;
        appearance: none;
        text-align: right;
        @media screen and (max-width: 980px){
          width: 180px;
          display: inline-block;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          appearance: none;
        }
      }
    }

    &.checkbox {
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      input[type="checkbox"] {
        display: inline-block;
        margin: 0 12px 0 0;
        position: relative;
        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
        border-radius: 50%;
        visibility: hidden;
        background-color: #fff;


        &:after {
          content: '';
          width: 16px;
          height: 16px;
          border-radius: 50%;
          position: absolute;
          visibility: visible;
          top: 50%;
          left: 50%;
          transform: translate(calc(-50% - 6px), -50%);
          background-color: #a9a9a9;
        }

        &:checked:after {
          background-color: #76B00A;
          transform: translate(calc(-50% + 6px), -50%);
        }

        &:before {
          content: '';
          width: 32px;
          height: 20px;
          border-radius: 20px;
          border: 1px solid #a9a9a9;
          position: absolute;
          visibility: visible;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
        }

        //&:checked:after {
        //  background-color: #76B00A;
        //}
      }

      span {
        display: inline-block;
        font-size: 14px;
        width: 100%;
        margin-bottom: 0;
        min-width: unset;
      }

    }

    &.discountGroup {
      .select2-container {
        max-width: 150px;
      }
    }
    .select2-selection--single {
      border-radius: 50px !important;
      height: auto !important;

      .select2-selection__rendered {
        padding: 0 0 0 4px !important;
        height: auto !important;
        line-height: 16px !important;
      }

      .select2-selection__clear {
        margin-right: 0;
        background-color: transparent !important;
        background: transparent !important;
        letter-spacing: 0 !important;
        border: none !important;
        font-size: 1em !important;
        padding: 0 !important;

        span {
          color: #000 !important;
        }
      }
    }
  }

}

.select-search__field{
  -webkit-appearance : textfield !important;
}

.pngcalc_button--wrap {
  margin-bottom: 20px;

  p{
    display: block;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px !important;
    margin-top: 0;
  }

}

.pngcalc_button {
  padding: 6px 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #76B00A;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #76B00A;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 19px 19px 40px 0px rgb(0 0 0 / 10%);
  transition: all .3s;
  cursor: pointer;
  text-align: center;
  @media screen and (max-width: 980px) {
    width: 100%;
    margin-bottom: 8px;
  }

  &:hover {
    color: #fff;
    background-color: #76B00A;
  }
}

.pngcalc {
  .select2-container--default {
    margin-bottom: 0 !important;

    .select2-selection--single {
      margin-bottom: 0;
      border-radius: 50px;
      padding: 5px 15px;
      background: #fff;
      border: 1px solid #e1e1e1;
      color: #000;
      font-size: 14px;
      line-height: 16px;
      background: none;
      box-sizing: border-box;
      font-family: inherit;
      display: flex;
      align-items: center;
    }

    .select2-selection__arrow {
      top: 50% !important;
      transform: translateY(-50%);
    }

    &.select2-container--open {
      .select2-selection--single {
        border-radius: 50px !important;
      }
    }
  }

  .pngcalc__footer {
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 24px;

    &__row {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
      text-align: center;
      @media screen and (max-width: 980px){
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}

.select2-dropdown {
  top: 8px !important;
  border-radius: 8px !important;
  border: 1px solid #e1e1e1 !important;

  .select2-results__option {
    font-size: 14px;
    line-height: 16px;
    font-family: inherit;

    &--highlighted {
      background-color: #76B00A !important;
    }
  }

}

.select2-container {
  z-index: 9999 !important;
}

.select2-hidden-accessible {
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.modal-closer {
  display: none;
}

#png-calculator-popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000066;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  margin: 0;
  z-index: 9998;
  padding: 48px 0;
  transition: all .6s;
  @media screen and (max-width: 1280px){
    align-items: flex-start;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .container {
    padding: 0 !important;
  }

  .modal-closer {
    display: block;
    position: absolute;
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    top: 8px;
    right: 8px;
    padding: 0 !important;

    span {
      display: block;
      position: absolute;
      width: 80%;
      height: 2px;
      background-color: #000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);

      &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  #png-calculator {
    width: 100%;
    max-width: 1280px;
    position: relative;
    overflow: auto;
    @media screen and (max-width: 1280px){
      max-width: calc(100% - 32px);
    }
  }
}

